.dashbg{
    /* background-color: rgba(128, 128, 128, 0.493); */
    background-image: linear-gradient(to bottom, rgb(233, 84, 15),
    orange);
}
.dashboard-heading{
    color: rgb(243, 83, 43);
    font-weight: 700;
    font-family: cursive;
    margin-top: 20px;
}
.dash{
color: white;
/* color: rgba(204, 203, 203, 0.486); */
}
.menuBar:hover{
    color: black;
}